:root {
  --container-size: 90%;
  --about-info-size: 48%;
  --about-text-size: 0.8em;
  --about-title-size: 1.75em;
  --about-info-direction: row;
  --about-text-padding: 1em 4em;
  --about-infos-gap: 6em;

  --about-info-odd-about-direction: row-reverse
}

#about-page-container
{
  display: flex;
  justify-content: center;
  width: 100%;
  margin: calc(var(--header-padding) + var(--logo-size) + var(--section-margin)) 0 var(--section-margin) 0 ;
}

#about-page {
  display: flex;
  flex-direction: column;
  width: var(--container-size);
  row-gap: var(--about-infos-gap);
}

.about-info {
  display: flex;
  flex-wrap: wrap;
  flex-direction: var(--about-info-direction);
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.about-info.reverse {
  flex-direction: var(--about-info-odd-about-direction);
}

.about-info-text-container {
  display: flex;
  flex-direction: column;
  row-gap: 0.5em;
  width: var(--about-info-size);
  padding: var(--about-text-padding);
}

.about-info-title {
  font-size: var(--about-title-size);
}

.about-info-text {
  font-size: var(--about-text-size);
}

.about-info-img {
  width: var(--about-info-size);
}


@media (max-width: 1279px) {
  :root {
    --about-info-direction: column;
    --about-info-odd-about-direction: column-reverse;
    --about-info-size: 100%;
    --about-text-padding: 0.5em;
    --about-infos-gap: 4em;
    --about-text-size: 0.9em;
    --about-title-size: 2em;
  }

  .about-info {
    row-gap: 0.5em;
  }
}

@media (min-width: 1280px) and (max-width: 1919px) {
  :root {
    --about-text-padding: 1em 2em;
  }
}

@media (min-width: 1920px) and (max-width: 2300px) {
  :root {
    --about-text-padding: 1em 2.5em;
  }
}