:root {
    --container-size: 90%;
}

#contact-page-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: calc(var(--header-padding) + var(--logo-size) + var(--section-margin)) 0 var(--section-margin) 0 ;
}

#contact-page {
    display: flex;
    flex-direction: column;
    row-gap: 2em;
    justify-content: center;
    align-items: center;
    width: var(--container-size);
}

#contact-description {
    font-size: 1.75em;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}

#contact-infos {
    text-align: center;
    display: flex;
    flex-direction: column;
    row-gap: 1.5em;
}

.contact-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 0.25em;
}

.contact-info a {
    line-height: 1;
}

.contact-info-title {
    font-size: 0.75em;
    opacity: 0.75;
}

.contact-info-value {
    width: fit-content;
}