:root {
    --bg-color: #050505;
    --text-color: whitesmoke;
    --blue-color: #4cccff;
    --default-font-size: 16px;
    --section-margin: 6rem;
    --less-opacity: .75;
    --side-margin: 1rem;
    --border-color: rgba(128, 128, 128, 0.4);
    --footer-size: 90%;
    --header-padding: 1rem;
    --logo-size: 4rem;
    --software-font-size: 1em;
    --fullscreen-menu-font-size: 2.5em;
    --menu-display: flex;
    --burger-menu-display: none;
    --header-burger-menu-height: 1em;
    --header-burger-menu-width: 1.75em;
    --header-burger-menu-line-height: 1px;
}

* {
    margin:0;
    line-height:normal;
    box-sizing: border-box;
}

a {
    color : var(--text-color);
    text-decoration : none;
}

html {
    font-size: var(--default-font-size);
}

body {
    display: flex;
    flex-direction: column;
    width: 100%;
    color : var(--text-color);
    background-color: var(--bg-color);
    font-family: sans-serif;
    scroll-behavior: smooth;
}

.hidden {
    visibility: hidden;
}

.visible {
    visibility: visible;
}

.opaque {
    opacity: 1;
}

.transparent {
    opacity: 0;
}

.circle {
    border-radius: 50%;
}

hr {
    border: none;
    border-top: 2px solid darkgray;
    margin: 0 calc((100% - var(--footer-size)) / 2);
    opacity: 0.2;
}

#logo-link {
    display: block;
    width: fit-content;
    z-index: 1;
}

#loading-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#loading-img {
    width: 8rem;
    animation: loadingPulse 0.5s infinite ease-in-out;
}

@keyframes loadingPulse {
    0% {
        transform: scale(1);
        opacity: 0.75;
    }
    50% {
        transform: scale(1.05);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 0.75;
    }
}

#page-container {
    transition: opacity 0.5s ease;
}

#portfolio-header {
    overflow-x: hidden;
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    z-index: 1000;
    padding: var(--header-padding) var(--header-padding) 0 var(--header-padding);
}

#header-menu {
    display: var(--menu-display);
    column-gap: 1.5em;
    height: fit-content;
    font-size: 1.15em;
}

#header-burger-menu {
    width: var(--header-burger-menu-width);
    height: var(--header-burger-menu-height);
    display: var(--burger-menu-display);
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    margin: calc(var(--header-padding) / 2) calc(var(--header-padding) / 2) 0 0;
    -webkit-tap-highlight-color: transparent;
}
  
#header-burger-menu span {
    display: block;
    height: var(--header-burger-menu-line-height);
    width: 100%;
    background-color: var(--text-color);
}

#header-burger-menu span:nth-child(2) {
    width: 70%;
}

#header-fullscreen-menu {
    position: fixed;
    right: -100%;
    top: 0;
    width: 100%;
    height: 100dvh;
    background: var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

#header-fullscreen-menu.active {
    right: 0;
}
  
#burger-menu-links {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    text-align: center;
    font-weight: 500;
}
  
#burger-menu-links a {
    display: inline-block;
    color: var(--text-color);
    text-decoration: none;
    font-size: var(--fullscreen-menu-font-size);
    transform: translateY(100%);
    transition: transform 0.8s ease;
}

.burger-menu-link-wrapper {
    overflow: hidden;
    /* height: var(--fullscreen-menu-font-size); */
}

#burger-menu-links a.show {
    transform: translateY(0);
}
  
#burger-menu-close-btn {
    position: absolute;
    top: calc(var(--header-padding) + var(--header-padding) / 2);
    right: calc(var(--header-padding) + var(--header-padding) / 2);
    cursor: pointer;
}

#burger-menu-close-btn img {
    width: 1.5em;
}

#portfolio-logo {
    scale: 0;
    display: block;
    width: var(--logo-size);
    transition: scale 0.35s ease-in-out;
}
#portfolio-logo.scaled {
    scale: 1;
}

footer {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 2rem 0;
}

#footer {
    display: flex;
    width: var(--footer-size);
    flex-direction: column;
    row-gap: 1.5rem;
}

#footer-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
}

#footer-portfolio-name {
    font-weight: bold;
    font-size: 1.75rem;
}

.footer-section {
    display: flex;
    flex-direction: column;
    row-gap: 0.65rem;
}

.footer-section-title {
    opacity: var(--less-opacity);
    text-transform: uppercase;
}

.footer-section-item-link {
    width: fit-content;
}

.footer-section-item-icon {
    vertical-align: middle;
    width: 1em;
}

.footer-section-list {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
}

.footer-section-item {
    display: flex;
    column-gap: 0.75rem;
    align-items: center;
}

#portfolio-copy-footer {
    text-transform: uppercase;
    padding-top: 1rem;
    opacity: 0.5;
    font-weight: bold;
}

.underline {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: inherit;
}

.underline::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 2px;
    background: currentColor;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.25s ease, transform-origin 0s;
}

.underline:hover::after {
    transform: scaleX(1);
}

.underline:not(:hover)::after {
    transform-origin: right;
}

#projects-tags-container
{
    display: none;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.project-software
{
    cursor: pointer;
    display: flex;
    align-items: center;
    column-gap: 0.4rem;
    background-color: #252525;
    color: var(--text-color);
    border-radius: 0.4em;
    padding: 0.4em 0.75em;
    transition: background-color 0.2s;
    font-size: var(--software-font-size);
}

.project-software:hover
{
    background-color: #3f3f3f;
}

@media (max-width: 599px) {
    :root {
        --burger-menu-display: flex;
        --menu-display: none;
    }
}


@media (min-width: 600px) and (max-width: 767px) {
    :root {
        --default-font-size: 18px;
        --logo-size: 5rem;
        --burger-menu-display: flex;
        --menu-display: none;
        --header-burger-menu-height:1.15em;
        --header-burger-menu-width:2em;
    }
    #portfolio-name {
        font-size: 2.5rem;
    }
    #footer-info {
        font-size: 1rem;
        column-gap: 6rem;
    }
    .footer-section-list {
        row-gap: 0.5rem;
    }
    .footer-section-item {
        column-gap: 0.45rem;
    }
    .footer-section-item-icon {
        width: 0.9em;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    :root {
        --default-font-size: 22px;
        --logo-size: 5rem;
        --burger-menu-display: flex;
        --menu-display: none;
        --header-burger-menu-height:1.15em;
        --header-burger-menu-width:2em;
    }
    #footer-info {
        font-size: 0.85rem;
        column-gap: 6rem;
    }
    .footer-section-list {
        row-gap: 0.4rem;
    }
    .footer-section-item {
        column-gap: 0.45rem;
    }
    .footer-section-item-icon {
        width: 0.9em;
    }
}


@media (min-width: 1024px) and (max-width: 1279px) {
    :root {
        --default-font-size: 24px;
        --logo-size: 5rem;
        --burger-menu-display: flex;
        --menu-display: none;
        --header-burger-menu-height:1.15em;
        --header-burger-menu-width:2em;
    }
    #footer-info {
        font-size: 0.75rem;
        column-gap: 6rem;
    }
    .footer-section-list {
        row-gap: 0.4rem;
    }
    .footer-section-item {
        column-gap: 0.45rem;
    }
    .footer-section-item-icon {
        width: 0.9em;
    }
}

@media (min-width: 1280px) and (max-width: 1599px) {
    :root {
        --default-font-size: 26px;
        --logo-size: 4rem;
    }
    footer {
        padding: 1rem 0;
    }
    #footer {
        justify-content: center;
        row-gap: 5rem;
    }
    #footer-info {
        flex-direction: row;
        font-size: 0.6rem;
        column-gap: 6rem;
    }
    .footer-section-list {
        row-gap: 0.4rem;
    }
    .footer-section-item {
        column-gap: 0.45rem;
    }
    .footer-section-item-icon {
        width: 1em;
    }
    #footer-portfolio-name {
        font-size: 1.25rem;
        width: 30%;
    }
    #portfolio-copy-footer{
        font-size: 0.75rem;
    }
}

@media (min-width: 1600px) and (max-width: 1919px) {
    :root {
        --default-font-size: 28px;
        --logo-size: 5rem;
    }
    footer {
        padding: 1rem 0;
    }
    #footer {
        justify-content: center;
        row-gap: 5rem;
    }
    #footer-info {
        flex-direction: row;
        font-size: 0.65rem;
        column-gap: 7rem;
    }
    .footer-section-list {
        row-gap: 0.4rem;
    }
    .footer-section-item {
        column-gap: 0.5rem;
    }
    .footer-section-item-icon {
        width: 1em;
    }
    #footer-portfolio-name {
        font-size: 1.25rem;
        width: 20%;
    }
    #portfolio-copy-footer{
        font-size: 0.75rem;
    }
}

@media (min-width: 1920px) and (max-width: 2300px) {
    :root {
        --default-font-size: 30px;
        --logo-size: 5rem;
    }
    footer {
        padding: 1rem 0;
    }
    #footer {
        justify-content: center;
        row-gap: 5rem;
    }
    #footer-info {
        flex-direction: row;
        font-size: 0.6rem;
        column-gap: 7rem;
    }
    .footer-section-list {
        row-gap: 0.4rem;
    }
    .footer-section-item {
        column-gap: 0.5rem;
    }
    .footer-section-item-icon {
        width: 1em;
    }
    #footer-portfolio-name {
        font-size: 1.25rem;
        width: 25%;
    }
    #portfolio-copy-footer{
        font-size: 0.75rem;
    }
}

@media (min-width: 2301px) and (max-width: 2559px) {
    :root {
        --default-font-size: 30px;
        --logo-size: 5rem;
    }
    footer {
        padding: 1rem 0;
    }
    #footer {
        justify-content: center;
        row-gap: 5rem;
    }
    #footer-info {
        flex-direction: row;
        font-size: 0.65rem;
        column-gap: 10rem;
    }
    .footer-section-list {
        row-gap: 0.4rem;
    }
    .footer-section-item {
        column-gap: 0.5rem;
    }
    .footer-section-item-icon {
        width: 1em;
    }
    #footer-portfolio-name {
        font-size: 1.25rem;
        width: 25%;
    }
    #portfolio-copy-footer{
        font-size: 0.75rem;
    }
}

@media (min-width: 2560px) and (max-width: 3439px) {
    :root {
        --default-font-size: 32px;
        --logo-size: 4rem;
    }
    footer {
        padding: 1rem 0;
    }
    #footer {
        justify-content: center;
        row-gap: 5rem;
    }
    #footer-info {
        flex-direction: row;
        font-size: 0.75rem;
        column-gap: 10rem;
    }
    .footer-section-item-icon {
        width: 1rem;
    }
    #footer-portfolio-name {
        font-size: 1.25rem;
        width: 35%;
    }
    #portfolio-copy-footer{
        font-size: 0.75rem;
    }
}

@media (min-width: 3440px) {
    :root {
        --default-font-size: 32px;
        --logo-size: 5rem;
    }
    footer {
        padding: 1rem 0;
    }
    #footer {
        justify-content: center;
        row-gap: 5rem;
    }
    #footer-info {
        flex-direction: row;
        font-size: 0.75rem;
        column-gap: 10rem;
    }
    .footer-section-item-icon {
        width: 1rem;
    }
    #footer-portfolio-name {
        font-size: 1.25rem;
        width: 35%;
    }
    #portfolio-copy-footer{
        font-size: 0.75rem;
    }
}