:root {
    --project-brightness: .4;
    --projects-padding: 0.25em;
}

#portfolio-video-background-container {
    position: absolute;
    width: 100%;
    height: 100dvh;
    z-index: -99;
    filter: brightness(0.2);
}

#portfolio-video-background {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

#portfolio-about-container {
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    transform: translateX(-10rem);
    transition: opacity 0.7s ease-out, transform 0.4s ease-out;
    margin-bottom: var(--projects-padding);
}
#portfolio-about {
    width: 85%;
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
}

#portfolio-about-container.opaque {
    transform: translateX(0);
}

#portfolio-name{
    font-weight: bold;
    font-size: 2rem;
}

#portfolio-socials {
    display: flex;
    column-gap: 1.5rem;
    padding-top: 1rem;
    flex-wrap: wrap;
    row-gap: 1rem;
}

.portfolio-social-icon {
    vertical-align: middle;
    width: 1.5em;
    transition: scale 0.2s;
}
.portfolio-social-icon:hover {
    scale: 1.2;
}

#projects-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: var(--section-margin);
}

#projects {
    display: flex;
    flex-direction: column;
    width: 100%;
    row-gap: var(--projects-padding);
}

.portfolio-project {
    scale: 0;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    filter: brightness(var(--project-brightness));
    transition: filter 0.35s, scale 0.5s ease-in-out;
}

.portfolio-project.scaled {
    scale: 1;
}

.portfolio-project-link {
    width: 100%;
    line-height: 0
}

.project-text-overlay {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 0.5rem 0.5rem;
}

.project-text {
    color: white;
    position: sticky;
    top: 6rem;
    font-weight: bold;
    text-shadow: 1px 1px 0 black;
    transition: opacity 0.25s;
    height: fit-content;
    z-index: 1;
}

.project-title {
    left: 0.5rem;
}

.project-tag {
    right: 0.5rem;
}

.portfolio-project-thumbnail {
    width: 100%;
    filter: brightness(1);
}


@media (min-width: 600px) and (max-width: 767px) {
    #portfolio-name {
        font-size: 2.5rem;
    }
    #portfolio-description {
        font-size: 1.25rem;
    }
    .project-text {
        font-size: 1.5rem;
    }
    .portfolio-social-icon {
        width: 1.75rem;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    #portfolio-name {
        font-size: 2rem;
    }
    #portfolio-description {
        font-size: 1.25rem;
    }
    .project-text {
        font-size: 1.5rem;
    }
    .portfolio-social-icon {
        width: 1.75rem;
    }
}

@media (min-width: 1024px) and (max-width: 1279px) {
    #portfolio-name {
        font-size: 2rem;
    }
    #portfolio-description {
        font-size: 1.25rem;
    }
    .project-text {
        font-size: 1.5rem;
    }
    .portfolio-social-icon {
        width: 1.75rem;
    }
}

@media (min-width: 1280px) and (max-width: 1599px) {
    #portfolio-about {
        width: 70%;
    }
    #portfolio-name {
        font-size: 2rem;
    }
    .project-text {
        font-size: 1.5rem;
    }
    .portfolio-social-icon {
        width: 1.75rem;
    }
    .project-text-overlay {
        padding: 1rem 1rem;
    }
}

@media (min-width: 1600px) and (max-width: 1919px) {
    #portfolio-about {
        width: 50%;
    }
    #portfolio-name {
        font-size: 2rem;
    }
    #portfolio-description {
        font-size: 1rem;
    }
    .project-text {
        font-size: 1.5rem;
    }
    .portfolio-social-icon {
        width: 1.75rem;
    }
    .project-text-overlay {
        padding: 1rem 1rem;
    }
}

@media (min-width: 1920px) and (max-width: 2559px) {
    #portfolio-about {
        width: 50%;
    }
    #portfolio-name {
        font-size: 2rem;
    }
    #portfolio-description {
        font-size: 1rem;
    }
    .project-text {
        font-size: 1.5rem;
    }
    .portfolio-social-icon {
        width: 1.5rem;
    }
    .project-text-overlay {
        padding: 1rem 1rem;
    }
}

@media (min-width: 2560px) and (max-width: 3439px) {
    #portfolio-about {
        width: 50%;
    }
    #portfolio-name {
        font-size: 2rem;
    }
    #portfolio-description {
        font-size: 1rem;
    }
    .project-text {
        font-size: 1.5rem;
    }
    .portfolio-social-icon {
        width: 1.75rem;
    }
    .project-text-overlay {
        padding: 1rem 1rem;
    }
}

@media (min-width: 3440px) {
    #portfolio-about {
        width: 50%;
    }
    #portfolio-name {
        font-size: 2rem;
    }
    #portfolio-description {
        font-size: 1rem;
    }
    .project-text {
        font-size: 1.5rem;
    }
    .portfolio-social-icon {
        width: 1.75rem;
    }
    #projects {
        width: 100%;
    }
    .project-text-overlay {
        padding: 1rem 1rem;
    }
}