:root {
    --container-size: 90%;
    --grey-text-opacity: 0.5;
    --medias-grid-gap: 1rem;
}

#back-button {
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    line-height: 0;
    padding: 0.75rem;
    border-radius: 1rem;
    background-color: var(--bg-color);
    border: solid 2px var(--border-color);
    z-index: 1;
    transition: scale 0.25s ease-in-out;
}

#back-button:hover {
    cursor: pointer;
    scale: 1.05;
}

#back-button-img {
    width: 2rem;
}

#project-container {
    display: flex;
    row-gap: 0.5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: calc(var(--header-padding) + var(--logo-size) + var(--section-margin)) 0 var(--section-margin) 0 ;
}

#project-thumbnail {
    width: 100%;
}

#project-thumbnail-img{
    width: 100%;
}

#project-title {
    font-size: 1.25rem;
    font-weight: bold;
    width: var(--container-size);
}

#project-board-container {
    width: 100%;
    margin-top: calc(var(--section-margin) / 3);
    display: flex;
    justify-content: center;
}

#project-board {
    display: flex;
    flex-direction: column;
    width: var(--container-size);
}

.project-board-row {
    padding: 0.5rem 0;
    border-top: 1px solid var(--border-color);
    display: flex;
    flex-direction: row;
    column-gap: 0.5rem;
}

.project-board-row-title {
    width: 35%;
    text-transform: uppercase;
    opacity: var(--grey-text-opacity);
}

.project-board-row-value {
    width: 65%;
}

.project-description {
    font-size: 0.85em;
}

.project-links-container {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.project-link {
    display: flex;
    align-items: center;
    column-gap: 0.15rem;
    background-color: var(--blue-color);
    color: var(--bg-color);
    border-radius: 1em;
    padding: 0.25em 0.75em;
    font-size: 0.75em;
    line-height: 0;
}

.project-link:hover {
    text-decoration: underline;
}

.project-link-icon {
    width: 1.15em;
    height: 1.15em;
}

.project-software-icon {
    width: 1.15em;
}

.project-software {
    display: flex;
    align-items: center;
    column-gap: 0.25rem;
    background-color: #1a1a1a;
    color: var(--text-color);
    border-radius: 0.4em;
    padding: 0.25em 0.75em;
    font-size: 0.75em;
    line-height: 0;
}

#project-medias {
    margin-top: calc(var(--section-margin) / 1.5);
    display: flex;
    flex-direction: column;
    gap: var(--medias-grid-gap);
    width: var(--container-size);
}

.project-medias-row {
    display: grid;
    gap: var(--medias-grid-gap);
}

.project-media {
    display: block;
    width: 100%;
}

.project-media-text {
    font-size: 0.9rem;
    padding: 0.25rem 0;
    text-align: center;
    opacity: var(--grey-text-opacity);
}

@media (min-width: 600px) and (max-width: 767px) {
    .project-media-text {
        font-size: 0.85rem;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .project-media-text {
        font-size: 0.75rem;
    }
}


@media (min-width: 1024px) and (max-width: 1279px) {
    .project-media-text {
        font-size: 0.75rem;
    }
}

@media (min-width: 1280px) and (max-width: 1599px) {
    .project-media-text {
        font-size: 0.75rem;
    }
}

@media (min-width: 1600px) and (max-width: 1919px) {
    :root {
        --container-size: 80%;
    }
    #project-title {
        font-size: 1.5rem;
    }
    #project-container {
        row-gap: 1rem;
    }
    .project-media-text {
        font-size: 0.75rem;
    }
}

@media (min-width: 1920px) and (max-width: 2559px) {
    :root {
        --container-size: 65%;
    }
    #project-title {
        font-size: 1.5rem;
    }
    #project-container {
        row-gap: 1.25rem;
    }
    #back-button {
        padding: 0.5rem;
        border-radius: 0.75rem;
        background-color: var(--bg-color);
        border-width: 3px;
    }
    .project-media-text {
        font-size: 0.75rem;
    }
}

@media (min-width: 2560px) and (max-width: 3439px) {
    :root {
        --container-size: 60%;
    }
    #project-title {
        font-size: 1.5rem;
    }
    #project-container {
        row-gap: 1.25rem;
    }
    .project-media-text {
        font-size: 0.75rem;
    }
}

@media (min-width: 3440px) {
    :root {
        --container-size: 60%;
    }
    #project-title {
        font-size: 1.5rem;
    }
    #project-container {
        row-gap: 1.25rem;
    }
    .project-media-text {
        font-size: 0.75rem;
    }
}